
@{
    ViewBag.Title = "PlacedOrder";
    Layout = "~/Views/Shared/_Layout_Out.cshtml";
}

    <div class="row container" style="margin-top: 30px;">

        <div class="col s12 m12 l12" style="display: table;">
            <i class="material-icons" style="display: table-cell;text-align: center;font-size: 80px;color: #FF4C4C;">shopping_basket</i>
        </div>

        <div class="col s12 m12 l12" style="text-align: center;">
            <h5 style="color: #173143;">Your order is on it's way.</h5>
        </div>

        <div class="col s12 m12 l12" style="text-align: center;margin-top: 20px;">
            <h5 style="color: #173143;">
                Order ID
            </h5>
            <h5 style="color: #01B460;">#2342124232</h5>
        </div>


        <div class="col s12 m12 l12" style="text-align: center;margin-top: 20px;">
            <h5>
                <a href="@Url.Action("MyOrders", "Home")">View Order</a>
            </h5>
        </div>

    </div>

