@{
    ViewBag.Title = "Reset password confirmation";
}

<style>

    #searchBooksContainer {
        display: none;
    }

    #locationMainHeader {
        display: none;
    }

    #mainSearchBar {
        height: 60px !important;
    }

    h4 {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
</style>


<hgroup class="title">
    <h4>@ViewBag.Title.</h4>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
