
<div id="mainSortByFilter" style="background: white; height:50px;padding-top:5px;">
    <div class="row">
        <div class="col s12 m12 l12 noscroll" style="overflow:auto;">
            <div style="min-width: 800px;">
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>English</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Arabic</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>French</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Rating: 4.0+</p>
                        </div>
                    </div>
                </div>
                <div class="card horizontal smallfilter">
                    <div class="card-stacked">
                        <div class="card-content" style="padding: 2px 10px;">
                            <p>Academic</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

