
<div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
    <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
        <div class="card-horizontal" style="height:150px;overflow: hidden;">
            <div class="img-square-wrapper" style="width: 100px;">
                <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
                <div style="width:100%;">
                    <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                        <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                            An economist walks into a brothel
                        </h5>
                        <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                            Price: N/A
                        </p>
                        <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                            No one has offered to sell this book
                        </p>
                        <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                            <button type="button" class="waves-effect waves-light btn-small modal-trigger" data-target="search-for-my-book-modal">
                                <i class="material-icons left">search</i>
                                Find it for me
                            </button>
                        </p>
                    </div>
                    <div style="float:right;position: absolute;right: 0;">
                        <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
