<!-- Modal Structure -->
<div id="search-for-my-book-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Search for my book</h4>
        <p>
            Bookpool will search for copies of your book in local shops and social media platforms.
            <br />
            We will contact you by email/phone as soon as we find it.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat pull-left red">No, I'll search for it</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat green">Yes please</a>
    </div>
</div>

<div class="row itemslist">
    <div class="col s12 m12 l12" style="margin-bottom:30px;">
        <h5>
            <i class="material-icons left red-text">search</i>
            Search by Academical Institutions
        </h5>
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none;">
            <div class="card-body">
                <div style="float:left;width: 100%;padding-right: 15px;">
                    <select>
                        <option>University Name</option>
                        <option>AUST</option>
                        <option>AUB</option>
                        <option>USJ</option>
                    </select>
                </div>
                <div style="float:left;width: 100%;padding-right: 15px;">
                    <select>
                        <option>Major</option>
                        <option>CCE</option>
                        <option>Architecture</option>
                    </select>
                </div>
                <div style="float:left;width: 100%;padding-right: 15px;">
                    <a class="waves-effect waves-light btn-small pull-right">
                        <i class="material-icons left">search</i>
                        Search
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row itemslist">
    <div class="col s12 m12 l12">
        <h5>AVAILABLE BOOKS</h5>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: N/A
                            </p>
                            @*<p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">

                                </p>*@
                            <div class="wrap">
                                <button type="button" class="waves-effect waves-light btn-small modal-trigger" data-target="search-for-my-book-modal">
                                    <i class="material-icons left">search</i>
                                    Find it for me
                                </button>
                            </div>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: N/A
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                <button class="waves-effect waves-light btn-small">
                                    <i class="material-icons left">search</i>
                                    Find it for me
                                </button>
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#E7C03F;">2.7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: N/A
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                <button class="waves-effect waves-light btn-small">
                                    <i class="material-icons left">search</i>
                                    Find it for me
                                </button>
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#B5B5B5;">New</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: N/A
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                <button class="waves-effect waves-light btn-small">
                                    <i class="material-icons left">search</i>
                                    Find it for me
                                </button>
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#ED844A;">2.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: N/A
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                <button class="waves-effect waves-light btn-small">
                                    <i class="material-icons left">search</i>
                                    Find it for me
                                </button>
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="row">
    <div class="col s12 m12 l12">
        <h5>MAGAZINES</h5>
        <table class="horizontalTableList" style="width:100%; overflow-x: auto; overflow-y:hidden; display:list-item;">
            <tbody>
                <tr>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>
                                <p>
                                    <span>
                                        <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                    </span>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row itemslist">
    <div class="col s12 m12 l12">
        <h5>BOOKS SEARCH RESULT</h5>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#E7C03F;">2.7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#B5B5B5;">New</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#ED844A;">2.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col s12 m12 l12">
        <h5>MAGAZINES</h5>
        <table class="horizontalTableList" style="width:100%; overflow-x: auto; overflow-y:hidden; display:list-item;">
            <tbody>
                <tr>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>
                                <p>
                                    <span>
                                        <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                    </span>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                    <td style="text-align:center;">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img style="width:100px;" class="activator" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/">
                            </div>
                            <div class="card-content">
                                <span style="color: var(--primaryGrey)!important; font-size: 14px; line-height:18px;" class="card-title activator grey-text text-darken-4">Price: 19,000LL</span>

                                <span>
                                    <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row itemslist">
    <div class="col s12 m12 l12">
        <h5>AVAILABLE BOOKS</h5>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#E7C03F;">2.7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#B5B5B5;">New</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#ED844A;">2.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://www.physicsforums.com/attachments/images-1-jpg.217947/" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                Multivariable Mathematics
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {
        academicSection_active();
        $('.modal-trigger').leanModal();
    });
</script>