@using BookPool.DataObjects.DTO
@using BookPool.DataObjects.EDM
@using System;
@using System.Globalization;

@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout_Out.cshtml";

    List<BookPoolResult> myBooks = new List<BookPoolResult>();
    if (ViewBag.MyBooks != null)
    {
        myBooks = ViewBag.MyBooks as List<BookPoolResult>;
    }

    List<Category> categories = new List<Category>();
    if (ViewBag.Categories != null)
    {
        categories = ViewBag.Categories as List<Category>;
    }

    List<Condition> conditions = new List<Condition>();
    if (ViewBag.Conditions != null)
    {
        conditions = ViewBag.Conditions as List<Condition>;
    }

    List<Language> languages = new List<Language>();
    if (ViewBag.Languages != null)
    {
        languages = ViewBag.Languages as List<Language>;
    }
}

<div id="mainSearchBar" style="background: white; height: 55px; display: none;" class="">
    <div class="row searchBar">
        <div class="col s12 m12 l12">
            <div class="sectionnav">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field" style="margin-top:5px;">
                            <input id="search" type="search" required="" placeholder="What are you browsing for?">
                            <label class="label-icon active" for="search">
                                <i class="material-icons" style="color:var(--primaryGrey) !important">search</i>
                            </label>
                            <i class="material-icons" style="color:var(--primaryGrey) !important">close</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@Html.Partial("_Filter")

<div class="row itemslist container">
    <div class="col s12 m12 l12" style="margin-bottom:30px;">
        <h5>
            Find these books for me
            <i class="material-icons" style="color: red;">favorite</i>
        </h5>
    </div>


    <div class="col s12 m12 l12" style="margin-bottom:30px;">
        @{
            if (myBooks.Count() == 0)
            {
                <h6>
                    You still haven't asked Bookpool to find any book that you weren't able to find.
                </h6>
            }
            foreach (var book in myBooks)
            {
                <div class="col s12 m12 l12">
                    @Html.Partial("_SearchForBook", book)
                    <hr />
                </div>
            }
        }
    </div>

</div>



<script type="text/javascript">

    $('#mainSearchBar').hide();
    $('#mainSortByFilter').hide();
    $('#locationContainer').hide();
    $('#goToHomeContainer').show();

    $(document).ready(function () {
        productsSection_active();
    });

    $(document).on('click', '.deleteMyBook', function () {

        var myBookID = $(this).attr('data-BookID');

        $.ajax({
            url: '@Url.Action("DeleteSearchForBook","Home")',
            type: 'POST',
            dataType: 'json',
            data: {
                MyBookID: myBookID
            },
            success: function (data) {
                location.reload();
            },
            error: function (request, error) {
                location.reload();
            }
        });
    });

</script>