

<div class="row">
    <div class="col s12 m12 l12">
        <h5>PRODUCT NAME</h5>
    </div>
</div>

<div class="row" style="margin-bottom:75px;">
    <div class="selectedProduct col s12 m12 l12">
        <div class="card">
            <div class="card-image col s12 m3 l3" style="padding:0px;">

                <div class="carousel carousel-slider" style="overflow:hidden;">
                    <a class="carousel-item active" href="#one!">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                    </a>
                    <a class="carousel-item" href="#two!">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                    </a>
                    <a class="carousel-item" href="#three!">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                    </a>
                    <a class="carousel-item" href="#four!">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                    </a>
                    <a class="carousel-item" href="#four!">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                    </a>
                    <a class="carousel-item" href="#four!">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg">
                    </a>
                </div>

                <a class="btn-floating waves-effect waves-light white" style="text-align: center;color: white;background-color: #60842D!important;">
                    4.1
                </a>

                <a class="btn-floating halfway-fab waves-effect waves-light white" style="bottom:-40px;">
                    <i class="material-icons red">favorite_border</i>
                </a>
            </div>
            <div class="card-content col s12 m12 l9" style="padding-bottom:0px;">
                <div class="row" style="margin-bottom:0px;">
                    <div class="col s12 m12 l9">
                        <div class="row">
                            <p style="margin-top:15px; font-size:18px;">
                                <span style="display: flex;">
                                    <i class="fa fa-book" aria-hidden="true" style="padding-right:10px;padding-top:5px;"></i>
                                    @*<i class="material-icons" style="padding-right:10px;">info_outline</i>*@
                                    An economist walks into a brothel
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="margin-top:15px; font-size:18px;">
                                <span style="display: flex;">
                                    <i class="fa fa-pencil-square" aria-hidden="true" style="padding-right:10px;padding-top:5px;"></i>
                                    @*<i class="material-icons" style="padding-right:10px;">info_outline</i>*@
                                    Allison Schrager
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="margin-top:15px; font-size:18px;">
                                <span style="display: flex;">
                                    <i class="fa fa-money" aria-hidden="true" style="padding-right:10px;padding-top:5px;"></i>
                                    30,000LL
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <div style="margin-top:15px;" class="quantity buttons_added">
                                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px;">
                            <div>
                                <div class="card-panel productInfoSize" style="float:left;text-align: center;margin-right: 10px; padding:10px;">
                                    <span>
                                        Ebook
                                    </span>
                                </div>
                                <div class="card-panel productInfoSize" style="float:left;text-align: center;margin-right: 10px; padding:10px;">
                                    <span>
                                        Hard Copy
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l3" style="padding-top:20px!important;">
                        <div class="row addtoCart" style="text-align: center; color: var(--primaryGrey);">
                            <i class="material-icons" style="font-size: 50px; width:100%;">add_shopping_cart</i>
                            <span>Add to cart</span>
                        </div>
                        <hr>
                        <div class="row gotoshop" style="text-align: center; color: var(--primaryGrey);">
                            <i class="material-icons" style="font-size: 50px; width:100%;">store</i>
                            <span>All books for sale by:</span>
                            <span style="font-weight:bold;">Bachir Nasser</span>
                        </div>
                        <hr style="display:none;" class="hiddenHR">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m12 l12" style="margin-top:30px;">
        <div class="card">
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Publish On
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    2019-04-02
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Publisher
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    Penguin
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Pages
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    240
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s6 m3 l3" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Preview
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <a href="http://books.google.com.lb/books?id=lUBkDwAAQBAJ&printsec=frontcover&dq=an+economist+walks+into+a+brothel&hl=&cd=1&source=gbs_api" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content col s12 m12 l12" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        Categories
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    Business & Economics
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content col s12 m12 l12" style="padding-top:0px; cursor:default;">
                <div class="row">
                    <h5 style="margin:auto;">
                        About this book
                        <i class="material-icons">rate_review</i>
                    </h5>
                </div>
                <div class="row">
                    <div class="card horizontal" style="margin:auto;">
                        <div class="card-stacked" style="width:100%;">
                            <div class="card-content" style="padding:20px;">
                                <span>
                                    Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wave? Is it riskier to make an action movie or a horror movie? Should sex workers forfeit 50 percent of their income for added security or take a chance and keep the extra money? Most people wouldn't expect an economist to have an answer to these questions--or to other questions of daily life, such as who to date or how early to leave for the airport. But those people haven't met Allison Schrager, an economist and award-winning journalist who has spent her career examining how people manage risk in their lives and careers. Whether we realize it or not, we all take risks large and small every day. Even the most cautious among us cannot opt out--the question is always which risks to take, not whether to take them at all. What most of us don't know is how to measure those risks and maximize the chances of getting what we want out of life. In An Economist Walks into a Brothel, Schrager equips readers with five principles for dealing with risk, principles used by some of the world's most interesting risk takers. For instance, she interviews a professional poker player about how to stay rational when the stakes are high, a paparazzo in Manhattan about how to spot different kinds of risk, horse breeders in Kentucky about how to diversify risk and minimize losses, and a war general who led troops in Iraq about how to prepare for what we don't see coming. When you start to look at risky decisions through Schrager's new framework, you can increase the upside to any situation and better mitigate the downside.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row itemslist">
    <div class="col s12 m12 l12">
        <h5>
            YOU MIGHT ALSO LIKE
        </h5>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card gotoproduct" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.9</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#E7C03F;">2.7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#B5B5B5;">New</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#60842D;">4.1</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px; font-size:12px; color:var(--secondaryOrange)">
                                Is it worth swimming in shark-infested waters to surf a 50-foot, career-record wav...
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#ED844A;">2.4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" style="overflow-x:auto; overflow-y:hidden;margin:10px 0;">
        <div class="card" style="box-shadow:none; -webkit-box-shadow:none; max-width:400px;">
            <div class="card-horizontal" style="height:150px;overflow: hidden;">
                <div class="img-square-wrapper" style="width: 100px;">
                    <img class="smallImage" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1543181274l/40909433.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div style="width:100%;">
                        <div style="float:left;height: 100px;width: 100%;padding-right: 15px;">
                            <h5 class="card-title" style="padding-top:0px;margin-top:0px;margin-bottom:0px;color: black;font-size: 16px;">
                                An economist walks into a brothel
                            </h5>
                            <p class="card-text" style="margin-bottom:6px;margin-top:6px;color:var(--primaryGrey);">
                                Price: 20,000LL
                            </p>
                            <p class="card-text" style="margin-bottom: 0px;margin-top:6px;color:black;font-size:13px;font-weight:bold;bottom: 0;position: absolute;">
                                <i class="material-icons" style="font-size:12px;">location_on</i> Beirut
                            </p>
                        </div>
                        <div style="float:right;position: absolute;right: 0;">
                            <span class="badge" style="color:white; background-color:#82AD3A;">3.5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




<script type="text/javascript">

    $(document).on('click', '.productInfoSize', function () {

        $('.productInfoSize').each(function (el) {
            $(this).removeClass('productInfoactive');
        });

        $(this).addClass('productInfoactive');
    });

    $(document).on('click', '.productInfoColor', function () {

        $('.productInfoColor').each(function (el) {
            $(this).removeClass('productInfoColoractive');
        });

        $(this).addClass('productInfoColoractive');
    });

    $(document).on('click', '.addtoCart', function () {

        var highlightElement = $(this);

        highlightElement.addClass('highlighted');

        setTimeout(function () {
            highlightElement.removeClass('highlighted');
        }, 1000);

    });

    $(document).on('click', '.gotoshop', function () {

        var highlightElement = $(this);

        highlightElement.addClass('highlighted');

        setTimeout(function () {
            highlightElement.removeClass('highlighted');
        }, 1000);

        var shopId = $(this).data('data-shopId');
        var url = '/Shops/Shop';
        window.location = url;

    });


    $(document).on('click', '.addtoCart', function () {
        var pluriel = '';
        var itemsInCart = parseInt($('#itemsincartbadge').text());
        var numberOfItemsinCart = itemsInCart;
        $('#itemsincartbadge').text(numberOfItemsinCart);

        $('#itemsincartbadge').parent().find('.material-icons').css('color', 'var(--primaryRed)');
        $('#itemsincartbadge').show();

        if (numberOfItemsinCart > 1) {
            pluriel = 'S';
        }
        $('#itemsInCartFooter').text(numberOfItemsinCart + ' ITEM' + pluriel)
        $('#messageFooter').show();
    });

</script>

